body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  /* background-color: black; */
  background-color: rgb(117, 81, 194);
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

.contenedor {
  padding-top: '3.5rem';
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.contenedor.div {
  width: 100%;
}

.menu {
  padding: 1rem;
  background: #f4f4f4;
  border-right: 1px solid #ccc;
  width: 400px;
  height: 100%;
}

.menu.ul {
  display: flex;
  flex-direction: row;
  list-style-type: 'none';
  margin: 0M;
  padding: 1rem;
  width: 300px;
  background-color: '#eaeaea';
}

body.div {
  width: 100%;
}

.page {
  padding: 20px;
  font-family: "Arial, sans-serif";
  width: 100%;
}

/* .frame {
   margin-top: 50px; 
} */

.frame-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-out {
  height: 50px;
}

.rootnode {
  width: 100%;
}

.marco-cliente {
  margin: 0 auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form>div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}

.form button {
  margin: 5px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 5px;
}

.form label {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.form input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;
}

.contenedor {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.marco-pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}

.header-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.marco-cliente {
  height: 100%;
  margin-top: 50px;
}